body{
    background:#D9CB9E;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2A2C2B;
  font-family: arial,sans-serif;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #D9CB9E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover{
	background-color: #1E1E20;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

header{
	background-color: #DC3522;
	padding:10px;
	height: 65px;
	font-size: 45px;
}

section{
  background-color:#FFFFFF;
  max-width: 800px;
  border-style: solid;
  border-width: 2px;
  padding:20px;
}

article{
  background-color: #FFFFFF;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  max-width: 800px;
}

table{
  background-color:#FFFFFF;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-collapse: collapse;
  max-width: 800px;

}

table, th, td {
   border: 2px solid black;

}

th, td {
    padding: 10px;
    text-align: left;
}

th{
  text-align: center;

}

td{
  padding: 15px;
}

#tour{
  background-color: #FFFFFF;
}


