.below_menu_container {
	padding-top: 40px;
}

.jumbotron{
	background-color: #d2efee;
}

.form-horizontal {
	padding-left: 15px;
}

.margin_top {
	margin-top: 20px;
}

th{
	background-color: mediumturquoise;
}

td{
	background-color: white;
}

table, th, td{
	border: 3px double grey !important;
}

td{
	background-color: #d2efee;
}

.mycolor {
    background-color: mediumturquoise;
  	color: black;
  	border-style: solid;
  	border-width: 1px;
  	border-radius: 3px;
  	padding: 5px;
 }

 .submit{
 	background-color: lightseagreen;
 }

 .alert-color{
 	background-color: #ffad99;
 	color:#b32400;
 }

 input[type=text]:focus{
    border: 2px solid #ff471a;
}

form{
	max-width: 450px;
}
